<tr>
	<td><%= plugin.name %></td>
	<td><%= link_to_author(plugin.author) %></td>
	<td><%= plugin.version %></td>
	<td><%= link_to plugin.homepage, plugin.homepage %></td>
	<td><%= plugin.active %></td>
	<td <%= link_to "View", url(:admin_plugin, plugin) %> | <%= link_to 'Delete', url(:delete_admin_plugin, plugin), {:method => :delete, :onclick => "return confirm('Are you sure?')"} %></td>
</tr>
