<% throw_content :right do %>
  <%= partial 'shared/formatting_help' %>
<% end %>

<%= error_messages_for @article %>
<h1>Edit <%= @article.title %></h1>

<%= form_for :article, :action => url(:admin_article, @article), :method => :put do %>
  <%= partial 'form' %>
  <%= submit 'Save Article' %> or <%= link_to 'Cancel', url(:admin_articles) %>
<% end =%>
