<%= form :action => url(:login) do %>
<p><label for="login">Login</label><br/>
<%= text_field :name => "login" %></p>

<p><label for="password">Password</label><br/>
<%= password_field :name => "password" %></p>

<p><label for="remember_me">Remember me:
<%= check_box :name => 'remember_me' %></label></p>

<p><%= submit 'Log in' %></p>
<% end =%>
