<% throw_content :right do %>
  <h4>View Articles</h4>
  <p>
	Here you can view existing articles.
  </p>
<% end %>

<h1>View Articles</h1>

<table>
	<tr>
		<th>Title</th>
		<th>Published at</th>
		<th></th>
	</tr>		
	<% @articles.each do |article| %>
	<tr>
		<td><%= link_to article.title, url(:admin_article, article) %></td>
		<td><%= article.created_at %></td>
		<td <%= link_to "Edit", url(:edit_admin_article, article) %> | <%= link_to 'Delete', url(:delete_admin_article, article), {:method => :delete, :confirm => 'Are you sure?'} %></td>
	</tr>
	<% end %>
</table>
<br />
<%= link_to "New article", url(:new_admin_article) %>