- throw_content :right do 
%h4
  View Article
%p
  Here you can view an existing article.
- end 
%h1
  View Article
%p
  Title: 
  = @article.title 
  = link_to "(Edit article)", url(:edit_admin_article, @article) 
%p
  Published: 
  = render_relative_published_at(@article) 
%p
  Formatter: 
  = @article.formatter 
%p
  Content:
  %br/
  = render_article(@article) 
= link_to "Edit article", url(:edit_admin_article, @article)  
= link_to "Back to articles", url(:admin_articles) 