<% throw_content :right do %>
  <h4>View Article</h4>
  <p>
	Here you can view an existing article.
  </p>
<% end %>

<h1>View Article</h1>

<p>
	Title: <%= @article.title %> <%= link_to "(Edit article)", url(:edit_admin_article, @article) %>
</p>

<p>
	Published: <%= render_relative_published_at(@article) %>
</p>

<p>
	Formatter: <%= @article.formatter %>
</p>

<p>
	Content:
	<br />
	<%= render_article(@article) %>
</p>

<%= link_to "Edit article", url(:edit_admin_article, @article) %> |
<%= link_to "Back to articles", url(:admin_articles) %>
