<%= render_plugin_views @articles.nil? ? "before_post" : "before_post_in_list" %>
<div class="hentry" id="article-<%= article.id %>">
  <h2 class="entry-title">
    <%= link_to(article.title, article.permalink) %>
  </h2>
  <div class="vcard">
    Posted by <span class="fn"><%= article.user.name %></span>
  </div>
  <abbr class="published" title=""><%= render_relative_published_at(article) %></abbr>
  <br class="clear" />
  <div class="entry-content">
    <%= textile_to_html(article.content) %>
  </div>
  <ul class="meta">
    </li>
  </ul>
</div>
<%= render_plugin_views @articles.nil? ? "after_post" : "after_post_in_list" %>