<% throw_content :title do %>
	<%= @settings.title %>
<% end %>

<h1><%= @settings.title %></h1>
<br />
<% @articles.each do |article| %>
	<p>
		<a href="<%= url(:article, article) %>">
			<%= article.title %> (published at <%= article.published_at %>)
		</a>
	</p>
	
	<p>
		<%= article.content %>
	</p>
	
	<br />
<% end %>