%p 
  Login: 
  = @user.login 
  %br/
%p
  E-mail: 
  = @user.email
  %br/ 
%p
  Timezone: 
  = @user.time_zone
  %br/ 
%p
  Default formatter: 
  = @user.default_formatter
  %br/ 
= link_to "Edit user", url(:edit_user, @user) |
= link_to "Back to users", url(:users)
