<p>
	Login: <%= @user.login %>
</p>

<p>
	E-mail: <%= @user.email %>
</p>

<p>
	Timezone: <%= @user.time_zone %>
</p>

<p>
	Default formatter: <%= @user.default_formatter %>
</p>

<<<<<<< HEAD:app/views/admin/users/show.html.erb
<%= link_to "Edit user", url(:edit_admin_user, @user) %> |
<%= link_to "Back to users", url(:admin_users) %>
=======
<%= link_to "Edit user", url(:edit_user, @user) %> |
<%= link_to "Back to users", url(:users) %>
>>>>>>> 7ab429a1d723c3ad933d2f45d348bf624de57f3c:slices/merb-auth/app/views/users/show.html.erb
