!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    %title
      Feather - Admin
    = css_include_tag :admin 
    = js_include_tag :prototype, :effects, :admin, :application 
  %body
    #header
      %ul#nav
        = render_menu 
      %h1
        = link_to @settings.nil? ? "Feather" : @settings.title, url(:admin_dashboard), :id => "blog_title" 
      %span#link-to-blog
        = link_to "View your blog", "/" 
    #wrap
      #content
        .pad
          %span#notifications
            = notifications 
          = catch_content :for_layout 
        .bot_shadow
      #right
        = catch_content :right
      %br{ :style => "clear: both;" }/
      #footer
        %div
          %strong
            Feather is a thing by
            %a{ :href => "http://www.bloggingmyassoff.com" }
              Michael Leung
            and
            %a{ :href => "http://crazycool.co.uk" }
              Elliott Draper
          %span#powered{ :style => "float:right" }
            = link_to image_tag('powered-by-merb.png'), "http://merbivore.com", :target => '_blank'
        %br{ :style => "clear: both;" }/
