<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Feather - Admin</title>
  <%= css_include :admin %>
  <%= js_include :prototype, :effects, :admin, :application %>
</head>
<body>
  <div id="header">
    <ul id="nav">
	    <%= render_menu %>
    </ul>
    <h1><%= link_to @settings.nil? ? "Feather" : @settings.title, url(:admin_dashboard), :id => "blog_title" %></h1>
    <span id="link-to-blog"><%= link_to "View your blog", "/" %></span>
  </div>
  <div id="wrap">
    <div id="content">
      <div class="pad">
		    <span id="notifications"><%= notifications %></span>
        <%= catch_content :for_layout %>
      </div>
      <div class="bot_shadow">&nbsp;</div>
    </div>
  <div id="right">
    <%= catch_content :right %>
  </div>
  <br style="clear: both;"/>
  <div id="footer">
    <div>
      <strong>Feather is a thing by <a href="http://www.bloggingmyassoff.com">Michael Leung</a> and <a href="http://crazycool.co.uk">Elliott Draper</a></strong>
      <span id="powered" style="float:right">
        <%= link_to image_tag('powered-by-merb.png'), "http://merbivore.com", :target => '_blank' %>
      </span>
    </div>
    <br style="clear: both;"/>
  </div>
  </div>
</body>
</html>
