<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title><%= catch_content :title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen" charset="utf-8" />
  </head>
  <body>
    <h1><%= link_to(render_title, "/") %></h1>

    <div id="tag-line"><%= render_tag_line %></div>
    <%= catch_content :for_layout %>
    <div id="sidebar">
      <%= render_about_text %>
      <div id="archives">
        <h3>Archives</h3>
        <ul id="archives">
          <li id="archive-march">March 2008(3)</li>
          <li id="archive-february">February 2008(6)</li>
          <li id="archive-february">January 2008(4)</li>
        </ul>
      </div>
    </div>
    <div id="footer">
      <span id="copy">Copywrite &copy; 2008 Person's name here</span> 
      <span>
        <strong>Feather is a thing by <a href="http://www.bloggingmyassoff.com">Michael Leung</a> and <a href="http://crazycool.co.uk/blog">Elliott Draper</a></strong>
        <strong>Theme by <a href="http://chrismatthias.com">Chris Matthias</strong>
      </span>
    </div>
  </body>
</html>