<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Feather</title>
  <%= css_include :admin, :exceptions %>
  <%= js_include :prototype, :effects, :admin, :application %>
</head>
<body>
  <div id="header">
    <h1>Feather</h1>
  </div>
  <div id="wrap">
    <div id="content">
      <div class="pad">
		    <span id="notifications"><%= notifications %></span>
        <%= catch_content :for_layout %>
      </div>
      <div class="bot_shadow">&nbsp;</div>
    </div>
  <div id="right">
    <%= catch_content :right %>
  </div>
  <br style="clear: both;">
  <div id="footer">
    <p>
      <strong>Feather is a thing by <a href="http://www.bloggingmyassoff.com">Michael Leung</a> and <a href="http://crazycool.co.uk">Elliott Draper</a></strong>
    </p>
    <br style="clear: both;">
  </div>
</body>
</html>
