<% throw_content :right do %>
  <h4>About This Plugin</h4>
  <p>
	<%= @plugin.about %>
  </p>
<% end %>

<h1><%= @plugin.name %></h1>

<p>
  Version: <%= @plugin.version %>
</p>
  
<p>
  Author: <%= @plugin.author['name'] %><br />
	Homepage: <%= @plugin.author['homepage'] %><br />
	E-Mail: <%= @plugin.author['email'] %>
</p>

<p>
	<%= link_to @plugin.homepage, @plugin.homepage %>
</p>

<p>
	<div id="plugin_activated" style="display: <%= @plugin.active ? 'block' : 'none' %>;">
		Activated
		<a href="#" id="plugin_deactivate" onclick="Plugins.deactivate(<%= @plugin.id %>);">Click to de-activate</a>
	</div>
	<div id="plugin_deactivated" style="display:  <%= @plugin.active ? 'none' : 'block' %>;">
		Isn't activated
		<a href="#" id="plugin_activate" onclick="Plugins.activate(<%= @plugin.id %>);">Click to activate</a>
	</div>
	<div id="plugin_display"></div>
</p>

<%= link_to "Back to plugins", url(:admin_plugins) %>
