<h3>Comments</h3>
<% Comment.all_for_post(@article.id).each do |comment| %>
	<b>Re: <%= @article.title %></b> by <i><%= link_to comment.name, comment.website %></i>
	<p><%= comment.comment %></p>
	<p><i>Created <%= render_relative_date(comment.created_at) %></i></p>
<% end %>
<div>
  <h3>Leave Comment</h3>
  <% if session[:comment_error] %>
  	There were errors that prohibited your comment from being saved!
  	<br /><br />
  	<% session[:comment_error].each do |err| %>
  		<%= err[1].first %><br />
  	<% end %>
  	<br />
  	<% session[:comment_error] = nil %>
  <% end %>
  <% form_for :comment, :action => "/comments/create" do %>
    <%= hidden_field :name => :article_id, :value => @article.id %>
    <p>
      <label>Name:<label>
      <%= text_field :name => 'name', :size => 30 %>
    </p>
    <p>
    	<label>Website:</label>
      <%= text_field :name => 'website', :size => 30 %>
    </p>
    <p>
    	<label>Comment:</label>
    	<%= text_area_field "", :name => 'comment', :rows => 10, :cols => 30 %>
    </p>
    <p>
    	<%= submit_button "Leave comment" %>
    </p>
  <% end %>
</div>
