- throw_content :right do 
%h4
  Settings
%p
  This page contains the global options for your blog.
%p
  %strong
    To add a new line to your about, hold shift and hit enter.
%p
  %strong
    Permalink Format:
  %ul
    %li
      You can use the following variables to create a permalink: :year, :month, :day, :title
    %li
      For example: /articles/:year/:month/:day/:title -> /articles/2008/5/15/my-neat-blog-post
    %li
      The format
      %strong
        must
      start with a '/'
  %br/
  %br/
- end
%h1
  Blog Settings
.info_container
  %table.in_place_editing
    %tr
      %td.field_label
        Title:
      %td
        %span#configuration-title-container
          %span#configuration-title-display
            = @settings.title
          %a#edit-configuration-title{ :href => "#" }
            edit
        = text_field :name => "title", :value => @settings.title, :size => 30, :style => "display: none", :id => "configuration-title"
    %tr
      %td.field_label
        Tag Line:
      %td
        %span#configuration-tag-line-container
          %span#configuration-tag-line-display
            = @settings.tag_line 
          %a#edit_configuration-tag-line{ :href => "#" }
            edit
        = text_field :name => "tag_line", :value => @settings.tag_line, :size => 30, :style => "display: none", :id => "configuration-tag-line" 
    %tr
      %td.field_label
        About:
      %td
        %span#configuration-about-container
          %span#configuration-about-display
            = @settings.about_summary 
          %a#edit-configuration-about{ :href => "#" }
            edit
        = text_area_field @settings.about, :name => "about", :rows => 10, :cols => 50, :style => "display: none", :id => "configuration-about"
    %tr
      %td.field_label
        About Formatter:
      %td
        %span#configuration-about-formatter-container
          %span#configuration-about-formatter-display
            = @settings.about_formatter 
          %a#edit-configuration-about-formatter{ :href => "#" }
            edit
        = select_field :collection => Hooks::Formatters.available_formatters, :style => "display: none", :id => "configuration-about-formatter", :selected => @settings.about_formatter 
    %tr
      %td.field_label
        Permalink Format:
      %td
        %span#configuration-permalink-format-container
          %span#configuration-permalink-format-display
            = @settings.permalink_format 
          %a#edit-configuration-permalink-format{ :href => "#" }
            edit
        = text_field :name => "permalink_format", :value => @settings.permalink_format, :size => 30, :style => "display: none", :id => "configuration-permalink-format" 
    %tr
      %td.field_label
        Clear Cache?
      %td
        %span#configuration-clear-cache-display/
        = submit_field :id => "configuration-clear-cache", :value => "Clear"