<% throw_content :right do %>
  <h4>Settings</h4>
   <p>
     This page contains the global options for your blog.
   </p>
   <p>
    <strong>To add a new line to your about, hold shift and hit enter.</strong>
  </p>
 <% end %>
   
<h1>Blog Settings</h1>
<div class="info_container">
  <table class="in_place_editing">
  <tr>
    <td class="field_label">Title:</td>
    <td>
      <span id="configuration-title-container"><span id="configuration-title-display"><%= @settings.title %></span> <a href="#" id="edit-configuration-title">edit</a></span>
      <%= text_field :name => "title", :value => @settings.title, :size => 30, :style => "display: none", :id => "configuration-title" %>
    </td>
  <tr>
  <tr>
    <td class="field_label">Tag Line:</td>
    <td>
      <span id="configuration-tag-line-container"><span id="configuration-tag-line-display"><%= @settings.tag_line %></span> <a href="#" id="edit_configuration-tag-line">edit</a></span>
      <%= text_field :name => "tag_line", :value => @settings.tag_line, :size => 30, :style => "display: none", :id => "configuration-tag-line" %>
    </td>
  </tr>
  <tr>
    <td class="field_label">About:</td>
    <td>
      <span id="configuration-about-container"><span id="configuration-about-display"><%= @settings.about_summary %></span> <a href="#" id="edit-configuration-about">edit</a></span>
      <%= text_area_field @settings.about, :name => "about", :rows => 10, :cols => 50, :style => "display: none", :id => "configuration-about" %>
    </td>
  </tr>
  <tr>
	<td class="field_label">About Formatter:</td>
	<td>
	  <span id="configuration-about-formatter-container"><span id="configuration-about-formatter-display"><%= @settings.about_formatter %></span> <a href="#" id="edit-configuration-about-formatter">edit</a></span>
	  <%= select_field :collection => Hooks::Formatters.available_formatters, :style => "display: none", :id => "configuration-about-formatter", :selected => @settings.about_formatter %>
	</td>
  </tr>
  </table>
</div>