<h1><%= @exception_name %></h1>
<% if show_details = ::Merb::Config[:exception_details] -%>
	<h2><%= params[:exception].message %></h2>
	<h3>Parameters</h3>
	<ul>
		<% params[:original_params].each do |param, value| %>
			<li><strong><%= param %>:</strong> <%= value.inspect %></li>
		<% end %>
		<%= "<li>None</li>" if params[:original_params].empty? %>
	</ul>

	<h3>Session</h3>
	<ul>
		<% params[:original_session].each do |param, value| %>
			<li><strong><%= param %>:</strong> <%= value.inspect %></li>
		<% end %>
		<%= "<li>None</li>" if params[:original_session].empty? %>			
	</ul>

	<h3>Cookies</h3>
	<ul>
		<% params[:original_cookies].each do |param, value| %>
			<li><strong><%= param %>:</strong> <%= value.inspect %></li>
		<% end %>
		<%= "<li>None</li>" if params[:original_cookies].empty? %>			
	</ul>
<% else -%>
	<h2>There has been an error!</h2>
	<h3>What next?</h3>
	<ul>
		<li>Go <a href="javascript:history.go(-1)">back</a> and retry what you were doing - the problem may be temporary!</li>
		<li>If it still happens, drop the blog owner a note to let them know!</li>
	</ul>
<% end -%>
<div class="break"></div>
<% if show_details %>
	<table class="trace">
		<% params[:exception].backtrace.each_with_index do |line, index| %>
			<tbody class="close">
				<tr class="file">
					<td class="expand"></td>
					<td class="path">
						<%= (line.match(/^([^:]+)/)[1] rescue 'unknown').sub(/\/((opt|usr)\/local\/lib\/(ruby\/)?(gems\/)?(1.8\/)?(gems\/)?|.+\/app\/)/, '') %>
						<% unless line.match(/\.erb:/) %>
							in "<strong><%= line.match(/:in `(.+)'$/)[1] rescue '?' %></strong>"
              			<% else %>
                			(<strong>ERB Template</strong>)
              			<% end %>
					</td>
					<td class="line">
						<a href="txmt://open?url=file://<%=file = (line.match(/^([^:]+)/)[1] rescue 'unknown')%>&amp;line=<%= lineno = line.match(/:([0-9]+):/)[1] rescue '?' %>"><%=lineno%></a>&nbsp;
					</td> 
				</tr>
				<tr class="source">
					<td class="collapse"></td>
					<td class="code" colspan="2"><% (__caller_lines__(file, lineno, 5) rescue []).each do |llineno, lcode, lcurrent| %>
<a href="txmt://open?url=file://<%=file%>&amp;line=<%=llineno%>"><%= llineno %></a><%='<em>' if llineno==lineno.to_i %><%= lcode.size > 90 ? CGI.escapeHTML(lcode[0..90])+'<span class="more">......</span>' : CGI.escapeHTML(lcode) %><%='</em>' if llineno==lineno.to_i %>
<% end %>
					</td>
				</tr>
			</tbody>
		<% end %>
	</table>
	<script type="text/javascript" charset="utf-8">
		// swap the open & closed classes
		els = document.getElementsByTagName('td');
		for(i=0; i<els.length; i++){
			if(els[i].className=='expand' || els[i].className=='collapse'){
				els[i].onclick = function(e){
					tbody = this.parentNode.parentNode;
					if(tbody.className=='open'){
						tbody.className='closed';
					}else{
						tbody.className='open';
					}
				}
			}
		}
	</script>
<% end %>